:root {
  /* palette */
  --blue: #1f52a6;
  --yellow: #fabd14;
  --red: tomato;
  --orange: #ff7f50;
  --green: #3cb371;
  /* colour aliases */
  --primary: var(--blue); /* #004b78; */
  --secondary: #e2e8f0;
  --background: #fff;
  --font-stack-base: 'Avenir', 'Avenir Next', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-stack-base);
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: var(--background);
}

p,
pre,
code {
  line-height: 1.5;
}

a[href] {
  &,
  &:visited {
    color: var(--primary);
  }

  &:not(:hover) {
    text-decoration: none;
  }
}

svg,
img {
  max-width: 100%;
  height: auto;
}

header,
footer {
  text-align: center;
  padding-block: 1rem;
}

footer {
  background-color: var(--secondary);
}

/* CSS Grid "Break out" layout
 - https://css-tricks.com/full-width-elements-by-using-edge-to-edge-grid/
 - https://cloudfour.com/thinks/breaking-out-with-css-grid-layout/
 */
header,
footer,
main {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 60rem)
    [main-end] minmax(1em, 1fr)
    [full-end];
  grid-auto-rows: minmax(min-content, max-content);

  & > * {
    grid-column: main;
  }

  & > .full-width {
    grid-column: full;
  }
}

main {
  & > figure {
    grid-column: full;

    & > img {
      display: block;
    }
  }

  & > .full-width {
    display: inherit;
    grid-template-columns: inherit;
    padding-block: 1rem;

    & > * {
      grid-column: main;
    }
  }

  @media (min-width: 60rem) {
    & > figure {
      align-items: end;
      display: inherit;
      grid-template-columns: inherit;

      & > img {
        grid-column: main / full;
      }

      & > figcaption {
        order: -1;
        text-align: right;
      }
    }
  }
}

main {
  padding-bottom: 2em;

  :first-child,
  > article :first-child {
    margin-top: 0;
  }
}

pre {
  background-color: #333;
  color: #eee;
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
}

header {
  /* Header Logo (style as h2) */
  > em {
    display: block;
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: bold;
    font-style: normal;
  }

  /* Header Nav */
  & nav {
    & ul {
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
    }

    & li {
      display: inline-block;
      margin: 0 0.25em;

      & a {
        padding: 0.25em 0.5em;
        border-radius: 0.25em;

        /* &[href]:not(:hover) {*/
        &:hover {
          text-decoration: none;
          outline: solid 2px var(--secondary);
        }

        &[data-current='current item'] {
          background-color: var(--secondary);
        }
      }
    }
  }
}

/* Posts List */
article {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
  border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* Post Tags */
a[rel='tag'] {
  &,
  &:visited {
    display: inline-block;
    vertical-align: text-top;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.625em;
    padding: 0 0.5em;
    line-height: 2em;
    height: 2em;
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 0.25em;
    text-decoration: none;
    margin: 0 0.5em 0.5em 0;
  }

  &:hover {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--secondary);
  }

  &:last-child {
    margin-right: 0;
  }
}

/* Contact Form */
form {
  display: grid;
  padding: 2em 0;

  & label {
    display: none;
  }
}

input,
textarea,
form button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
  font-family: var(--font-stack-base);
}

input,
textarea {
  border: 1px solid black;
}

@media screen and (min-width: 60rem) {
  :root {
    font-size: 1.1rem;
  }
}

[data-current='home'] h1,
.visually-hidden,
.sr-only {
  clip: rect(1px, 1px, 1px, 1px) !important;
  border: 0 !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.button {
  color: var(--primary);
  background-color: var(--secondary);
  padding: 0.3em 0.6em;
  border: none;
  border-radius: 0.25em;
  /* font-weight: bold; */
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    color: var(--secondary) !important;
    background-color: var(--primary);
    /* opacity: 0.8; */
  }
}

/* Anchors link */
.header-anchor > svg {
  visibility: hidden;
}

:is(h2, h3, h4, h5, h6):hover .header-anchor > svg {
  visibility: visible;
}

/* testing */
.bg-red {
  background-color: tomato;
  color: white;
}

.full-width {
  &.align-center {
    text-align: center;
  }
}
