:root {
  --primary: #1d59af;
  --secondary: #fbbf15;
  --background: #fff;
  --font-stack-base: 'Avenir', 'Avenir Next', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-stack-base);
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: var(--background);
}

main {
  max-width: 37.5em;
}

p,
pre,
code {
  line-height: 1.5;
}

a[href] {
  &, &:visited {
    color: var(--primary);
  }

  &:not(:hover) {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  padding: 1em;
}

header,
footer {
  text-align: center;
}

footer {
  background-color: var(--secondary);
}

main {
  padding-bottom: 2em;
  margin-inline: auto;

  :first-child,
  > article :first-child {
    margin-top: 0;
  }
}

pre {
  background-color: #333;
  color: #eee;
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
}

header {
  /* Header Logo (style as h2) */
  > em {
    display: block;
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: bold;
    font-style: normal;
  }

  /* Header Nav */
  & nav {
    & ul {
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
    }

    & li {
      display: inline-block;
      margin: 0 0.25em;

      & a {
        padding: 0.25em 0.5em;
        border-radius: 0.25em;

        &[href]:not(:hover) {
          text-decoration: none;
        }

        &[data-current='current item'] {
          background-color: white;
        }
      }
    }
  }
}

/* Posts List */
article {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
  border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* Post Tags */
a[rel='tag'] {
  &,
  &:visited {
    display: inline-block;
    vertical-align: text-top;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.625em;
    padding: 0 0.5em;
    line-height: 2em;
    height: 2em;
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 0.25em;
    text-decoration: none;
    margin: 0 0.5em 0.5em 0;
  }

  &:hover {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--secondary);
  }

  &:last-child {
    margin-right: 0;
  }
}

/* Contact Form */
form {
  display: grid;
  padding: 2em 0;

  & label {
    display: none;
  }
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
  font-family: var(--font-stack-base);
}

input,
textarea {
  border: 1px solid black;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 1.1rem;
  }
}

/* HOME */
[data-current='home'] h1,
.sr-only {
  clip: rect(1px, 1px, 1px, 1px) !important;
  border: 0 !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

button,
a.button {
  color: var(--background) !important;
  background: var(--primary);
  padding: 0.3em 0.6em;
  border: none;
  border-radius: 0.25em;
  /* font-weight: bold; */
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    opacity: 0.8;
  }
}

/* Anchors link */
.header-anchor > svg {
  visibility: hidden;
}

:is(h2, h3, h4, h5, h6):hover .header-anchor > svg {
  visibility: visible;
}
