<div id="animation" class="full-width"></div>

<style>{% css %}
  header {
    position: relative;
  }

  #animation {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  #logo {
    filter: drop-shadow(0px 0px 9px rgba(0,0,0, 0.1));
  }
{% endcss %}</style>

{% html "head" %}
<link rel="preconnect" href="https://cdnjs.cloudflare.com/" crossorigin />
<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/" />
{% endhtml %}

{% html "footer" %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"
  integrity="sha512-334uBDwY0iZ2TklV1OtDtBW9vp7jjP7SWRzT7Ehu1fdtPIjTpCwTSFb8HI/YBau9L1/kRBEOALrS229Kry4yFQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
  defer="defer"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.clouds.min.js"
  integrity="sha512-b69OnXWaP5341Ea0Yk7i2mlNH+OurIW4udbikKpmYneTePmKbiu+S1qxGanqUchivRNC8df5dT4Tty19SElAHw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
  defer="defer"
  onload="setVanta()"></script>
{% endhtml %}

<script>{% js %}
var setVanta = () => {
  if (window.VANTA) window.VANTA.CLOUDS({
    el: "#animation",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    speed: 0.70
  })
}
{% endjs %}</script>