<head>
  <meta charset="utf-8">
  <meta name="generator" content="{{ eleventy.generator }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% getBundle "html", "head" %}
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ metaDescription or eleventyComputed.metaDescription or metadata.description }}">

  {% css %}
    {% include "assets/css/critical.css" %}
  {% endcss %}
  <!-- Inlined critical styles -->
	<style>{% getBundle "css" %}</style>

	<!-- Deferred non-critical styles -->
	<link rel="stylesheet" href="{% getBundleFileUrl 'css', 'defer' %}" media="print" onload="this.media='all'">
	<noscript>
		<link rel="stylesheet" href="{% getBundleFileUrl 'css', 'defer' %}">
	</noscript>

  {% js %}
    {% include "assets/js/inline.js" %}
  {% endjs %}
  <!-- Inlined js bundle -->
	<script>{% getBundle "js" %}</script>

</head>
