{% html "head" %}
<link rel="preconnect" href="https://cdn.maptiler.com/" crossorigin />
<link rel="dns-prefetch" href="https://cdn.maptiler.com/" />

<link href="https://cdn.maptiler.com/maptiler-sdk-js/latest/maptiler-sdk.css" rel="stylesheet" media="print" onload="this.media='all'" />
<noscript>
  <link rel="stylesheet" href="https://cdn.maptiler.com/maptiler-sdk-js/latest/maptiler-sdk.css">
</noscript>
{% endhtml %}
{% html "footer" %}
<script src="https://cdn.maptiler.com/maptiler-sdk-js/latest/maptiler-sdk.umd.min.js" defer onload="drawMap()"></script>
{% endhtml %}

<style>
{% css %}
  #map-site {
    width: 100%;
    height: 25rem;
    border-radius: 0.5rem;
    background-color: var(--secondary);
    {# position: relative; #}
  }
  #map-style-switcher {
    {# position: absolute;
    top: 205px;
    right: 10px;
    z-index: 1; #}
  }
  .maplibregl-ctrl-icon {
    .maplibregl-ctrl-outdoor {}
    .maplibregl-ctrl-topo {}
    .maplibregl-ctrl-satellite {}
  }
  .maplibregl-ctrl-bottom-left a[aria-label="Mapbox logo"] {
    display: none !important;
  }
{% endcss %}
</style>

<div id="map-site">
  <div id="map-style-switcher" class="maplibregl-ctrl maplibregl-ctrl-group" hidden>
    <button id="style-outdoor" class="maplibregl-ctrl-icon maplibregl-ctrl-outdoor" title="Outdoor"></button>
    <button id="style-topo" class="maplibregl-ctrl-icon maplibregl-ctrl-topo" title="Topo"></button>
    <button id="style-hybrid" class="maplibregl-ctrl-icon maplibregl-ctrl-satellite" title="Satellite"></button>
  </div>
</div>

<script>
  {% js %}
  var drawMap = () => {
    // Parse the takeoffs from the json string and adjust the data
    const takeoffs = {{ takeoffs | adjustCoordinates | safe }}
    const landings = {{ landings | adjustCoordinates | safe }}

    maptilersdk.config.apiKey = 'Rbbu3nsbqSZW7WjHyQEk';
    const map = new maptilersdk.Map({
      container: 'map-site', // container's id or the HTML element to render the map
      style: "outdoor",
      // style: 'bad49809-c61a-41fe-a212-9b1f58c1a8f8', // "topo" "topo-v2"
      center: takeoffs[0], // starting position [lng, lat]
      zoom: 13, // starting zoom
      // maxZoom: 14,
      minZoom: 9,
      geolocateControl: false, //disable the geolocate control
      attributionControl: false,
      fullscreenControl: true,
      scaleControl: true,
      terrain: true,
      terrainControl: true,
      pitch: 35,
      maxPitch: 70,
      cooperativeGestures: true,
    });
    {#
      // FIXME: move attribution control to bottom left
      // https://github.com/maptiler/maplibre-gl-js-samples/blob/main/control-minimap/code.html
      map.addControl(new maptilersdk.AttributionControl({ compact: true}), 'bottom-left');
    #}

    // Add the markers while setting the bounds
    const bounds = new maptilersdk.LngLatBounds();
    takeoffs.map(to => {
      new maptilersdk.Marker({ color: 'dodgerblue' }).setLngLat(to).addTo(map);
      bounds.extend(to);
    });
    landings.map(lan => {
      new maptilersdk.Marker({ color: 'tomato' }).setLngLat(lan).addTo(map);
      bounds.extend(lan);
    });

    map.on('load', () => {
      // Add the style switcher listener
      let mapSwitcher = document.getElementById('map-style-switcher');
      document.getElementsByClassName('maplibregl-ctrl-top-left')[0].appendChild(mapSwitcher);
      let styles = ['outdoor', 'topo', 'hybrid'];
      styles.map(style => {
        document.getElementById('style-' + style).addEventListener('click', function() {
          map.setStyle('https://api.maptiler.com/maps/' + style + '/style.json?key=' + maptilersdk.config.apiKey);
        });
      });
      // Settimeout to fix the maptiler bug
      setTimeout(() => {
        map.fitBounds(bounds, { padding: 40 });
        mapSwitcher.removeAttribute('hidden');
        //map.resize();
      }, 100);
    });
  }
  {% endjs %}
</script>