<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% if section == "home" %}
		{% set home = true %}
	{% endif %}

	{% include "components/head.njk" %}

	<body>

		<header>
			{% if home %}
				{% include "components/canvas.njk" %}
			{% endif %}
			<a id="logo" href="{{ '/' | url }}" title="{{ metadata.title }}">
				<img src="/static/img/logo.png" alt="{{ metadata.title }} logo"
					{% if home %}
						width="736" height="296"
					{% else %}
						width="264" height="106"
					{% endif %}
				/>
			</a>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
